body
{
	margin: 0px;
	padding: 0px;
}

.header
{
    background-color: #f6f6f6 ;
    position:absolute;
    margin:0 auto;    
    border-bottom: 1px solid #aaaaaa;
    height: 70px;
    line-height: 72px;
    width: 100%;
    font-family: sans-serif;
}

.header h2
{
    margin-top: 0;
    padding-top: 0;
}
.header p
{
    font-size: 20px;
    float: right;
    padding-top: 0px;
    display: inline;
    margin: 0 0 0 0;
    position: absolute;
    right: 10px;
    top: 0;    
}

#options-div
{
    position: absolute;
    width: 100%;
    margin-top: 90px;
}

#main-div
{
    position: absolute;
    width: 100%;
    margin-top: 100px;
}

#reset-shelf
{
    color:red;
}

#flashlist-table
{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

#shelflist-table
{
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}

#delete-map
{
    color:red;
}

button
{
    margin-left: 25px;
    margin-right: 25px;
    height: 30px;
}